html, body {
    width: 500px;
    height: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    background-color: rgb(179, 7, 7);
    color: white;

    padding: 10px;
    margin: 0px;
}

#search{
    border-radius: 5px;
}

#submit{
    border-radius: 5px;
}

div{
    border-radius: 10px;
    background-color: white;
}

#buttonContainer{
    padding: 5px;
}
button{
    padding: 3px;
    border: none;
    background-color: rgb(173, 31, 3);
    color: white;
}

#searchtools{
    padding: 20px;
}

#options{
    background-color: rgb(179, 7, 7);
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0px;
    border: none;
}

#options a{
    color: white;
}